<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{getUrl('public/css/style.css')}" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>
<div class="main">
    <div class="silder">
        <div class="header">
            <div class="title"> 您选择了大额汇款支付方式，请您就尽快完成支付。我们将在您成功付款货处理次订单...</div>
            <div class="businessNo">
                <div class="des_key">订单号</div>
                ：<span>{$bizid} </span></div>
            <div class="amount">
                <div class="des_key">订单金额</div>
                ：<span>{$price}</span></div>
        </div>

        <div class="bankInfo">
            <div class="title"><span>以下信息请务必正确填写，请牢记！</span></div>
            <div class="content">
                <ul>
                    <li>
                        <div>开　户　行</div>
                        ：招商银行股份有限公司杭州钱塘支行
                    </li>
                    <li>
                        <div>公司　名称</div>
                        ：杭州知英信息技术有限公司
                    </li>
                    <li>
                        <div>账　　　户</div>
                        ：571908283710203
                    </li>
                    <li>
                        <div>备注订单号</div>
                        ：<span class="font_bold">{$bizid}</span></li>

                </ul>
            </div>
        </div>


        <div class="attention">
        <span class="title">注意事项：汇款时需要注意以下重要事项！</span>
            <ul class="notice">
                <li>1. 您本次汇款的订单号为:<span class="font_bold important">{$bizid}</span>，线下公司转账需将此汇款识相应的订单号填写至电汇凭证的【汇款用途】、【附言】、【摘要】等栏内。
                    <br>企业网银转账请务必将订单号填写到附言、摘要、备注等栏内。
                    <br>（提醒：因不同银行备注字段不同，最好是将所有的可填写备注的地方都填写上订单号）。
                </li>
                <li>2. 线下公司转账汇款时备注订单号，可确保转账成功后及时审核，请务必填写正确。</li>
                <li>3. 线下公司转账，可一次支付多个账单，但须备注各个账单编号。</li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>
