<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{getUrl('public/css/style.css')}" rel="stylesheet" type="text/css"/>
    <title></title>
    <style>.bankInfo .content ul li div { width: auto;}</style>
</head>
<body>


<div style="padding:20px;line-height: 2.5" class="instructors create-item x_instructors">

    <div class="row">

        <div style="" class="col-md-12">
            <h2 style="text-align: center;"><span style="font-size: smaller;"><strong>Payment Agreement</strong></span></h2>

            <div>&nbsp;</div>
            <div>&nbsp; &nbsp; Attyrelations.com Platform Services, (hereinafter referred to as "Attyrelations Services"), are based on Attyrelations.com Platform (hereinafter referred to as "Attyrelations") and its binding services.</div>
            <div>&nbsp; &nbsp; Attyrelations Services are provided by IP Relations Limited, for individuals, companies, legal personnel and other organizations all over the world. This agreement is made between you (the user) and&nbsp;IP Relations Limited.&nbsp;</div>
            <div>&nbsp;</div>
            <div><u><strong>PLEASE READ THE PAYMENT AGREEMENT CAREFULLY BEFORE VERIFYING. IF YOU DO NOT ACCEPT ANY PART OF THE PAYMENT AGREEMENT OR CAN NOT UNDERSTAND THE MEANING OF ANY ARTICLES MENTIONED, PLEASE DO NOT MAKE ANY PAYMENTS!</strong></u></div>
            <div>&nbsp;</div>
            <div><strong><span style="font-size: larger;">1. Statement and Commitment</span></strong></div>
            <div>&nbsp;</div>
            <div>1.1 Please note that the Articles which may cause major concerns to you or your company's interest, or involve the exemption or limitation from Attyrelations' liability, are <strong>marked in Boldfaced Words</strong> in this Agreement. Before you signing to become a Member and use Attyrelations services or use the services with the permission of other company, you should <strong>Carefully Read, Fully Understand and Totally Agree</strong> on all the content in this agreement. Once you start using the service, it will be considered as an agreement on your part to the terms and conditions of this document.</div>
            <div>&nbsp;</div>
            <div>1.2<strong> YOU AGREE</strong>&nbsp;that Attyrelations.com have the right to modify the agreement unilaterally by announcing on Attyrelations website rather than notify you individually. If you continue using the services after the content of the agreement is modified and announced in AttyRelations.com website, you will be regarded as<strong> Carefully Read, Fully Understand and Totally Agree</strong> on the modified agreement and will accept services according to the new agreement. If you do not agree on the modified agreement, please stop using the website and accepting services.</div>
            <div>&nbsp;</div>
            <div>1.3 <strong>YOU GUARANTEED</strong> that you have reached the legal age of 18 years old by the time you signed up with AttyRelations.com, and that you are practicing law in your contry and/or a representative&nbsp;of your law firm.&nbsp;</div>
            <div>&nbsp;</div>
            <div>1.4 The validity of this agreement does not influenced the law of your country or region and such laws by your country or region has no effect whatsoever in this agreement. <strong>Without guaranteeing the said terms</strong>, you should immediately <strong>abort</strong> the signing up process and<strong> stop</strong> using our service.&nbsp;</div>
            <div>&nbsp;</div>
            <div>1.5 When you suffer any losses caused by making payment in Attyrelations through a third-party payment facility or method (other than the payment methods provided by Attyrelations.com) the responsibility shall be undertaken by the third-party payment provider or yourself.&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong><span style="font-size: larger;">2. Payment Methods</span></strong></div>
            <div>&nbsp;</div>
            <div><strong>2.1 Paypal</strong></div>
            <div>Payments made through Paypal.com are accepted once you are in agreement with the payment terms and conditions (Payment Agreement).&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>2.2 Stripe</strong></div>
            <div>Payments made through Stripe are accepted once you are in agreement with the payment terms and conditions (Payment Agreement).&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>2.3 Bank Transfer</strong></div>
            <div>Payments made via Bank Transfers are accepted once you are in agreement with the payment terms and condition (Payment Agreement). Partner banks are listed on our website for reference.&nbsp;</div>
            <div>&nbsp;</div>
            <div><strong>2.4 Account Balance&nbsp;</strong></div>
            <div>Only the Attyrelations partners can make payments via the Account Balance in AttyRelations if he agrees to the terms and conditions (Payment Agreement).</div>
            <div>&nbsp;</div>
            <div><strong>Announcements: </strong>It is your responsibility to check and confirm the payment recipient's (AttyRelations.com) information before and upon making payment while using payment methods listed on the website. AttyRelations.com is not liable for any losses incurred on your part if you entered wrong information during payment. Commission fee may occur when you make payments with one of the above thrid-party payment methods.</div>
            <div>&nbsp;</div>
            <div><span style="font-size: larger;"><strong>3. Payment Services</strong></span></div>
            <div>&nbsp;</div>
            <div>You agree with Attyrelations.com as followed:</div>
            <div>&nbsp;</div>
            <div>3.1 <strong>Acknowledge and agree</strong> that Attyrelations.com has the right to refuse your payment for services due to risk prevention. If your payment application gets no response, it means that Attyrelations.com has refused the payment and is not in agreement with you on the service/s you chose.</div>
            <div>&nbsp;</div>
            <div>3.2 You shall fulfill your obligations on your part and will have rights according to the Payment Agreement you signed and other terms and conditions hereof.</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div style="text-align: right;"><span style="font-size: larger;"><strong>IP RELATIONS LIMITED</strong></span></div>
            <div style="text-align: right;">&nbsp;</div>
            <div style="text-align: right;">&nbsp;</div>                                        </div>
    </div>


</div>

</body>
</html>
