<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{getUrl('public/css/style.css')}" rel="stylesheet" type="text/css"/>
    <title></title>
    <style>.bankInfo .content ul li div { width: auto;}</style>
</head>
<body>


<div style="padding:20px;line-height: 2.5" class="instructors create-item x_instructors">
    <div class="row">

        <div style="" class="col-md-12">
            <h2 style="text-align: center;"><span style="font-size: smaller;"><strong>支付协议</strong></span></h2>
            <div>知英平台服务（以下简称本服务）是由杭州知英信息技术有限公司（以下简称本公司）向中国及其他国家的个人、公司、法人及其他组织提供的知英平台系统（以下简称本平台）及(或)其附随服务。本协议由您和本公司签订。</div>
            <div><strong><u>在确认本协议之前，请您仔细阅读本协议的全部内容。如果您不同意本协议的任意内容，或者无法准确理解本协议内任何条款的含义，请不要进行付款操作。</u></strong></div>
            <div>&nbsp;</div>
            <div>一、声明与承诺</div>
            <div>&nbsp; &nbsp;（一）本协议已对与您的权益具有或可能具有重大关系的条款，及对本公司具有或可能具有免责或限制责任的条款用<strong>粗体字</strong>予以标注，请您注意。您确认，在您注册为用户并使用本服务，或您以其他本公司允许的方式实际使用本服务前，您已<strong>充分阅读、理解并接受</strong>本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。&nbsp;</div>
            <div>&nbsp; &nbsp;（二）<strong>您同意</strong>，本公司有权随时对本协议内容进行单方面的修改，并以在本网站公告的方式予以公布，无需另行单独通知您；若您在本协议内容修改并公告后继续使用本服务，则表示您已充分阅读、理解并接受修改后的协议内容，并将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应停止使用本服务。&nbsp;</div>
            <div>&nbsp; &nbsp;（三）<strong>您保证</strong>，在您同意接受本协议并注册成为该用户时，您已经年满18周岁，或者您是在中国大陆地区合法开展经营活动或其他业务的个人、公司、法人及其他组织；本协议内容不受您所属国家或地区法律的排斥。<strong>不具备前述条件的，您应立即终止注册或停止使用本服务</strong>。在您对本平台服务进行支付时，因使用本平台所提供的支付方式（即余额支付）以外的第三方支付方式而造成的财产或其他损失，应由该第三方支付平台或您自行解决或承担。</div>
            <div>&nbsp;</div>
            <div>二、支付方式</div>
            <div>&nbsp; &nbsp;（一）支付宝支付：指您在使用本协议项下的本服务时，通过“支付宝”软件系统及其附随进行的款项支付行为。</div>
            <div>&nbsp; &nbsp;（二）微信支付：指您在使用本协议项下的本服务时，通过“微信”软件系统及其附随进行的款项支付行为。</div>
            <div>&nbsp; &nbsp;（三）银行转账支付：指您在使用本协议项下的本服务时，通过银行或者银行附属系统（如ATM，手机银行等）将指定金额的款项转账至本公司账户的一种款项支付行为。</div>
            <div><strong>本公司提示您注意：</strong>通过银行转账方式进行款项支付的行为，需先确认收款方信息为本公司官网提供的有效的真实的收款方信息。若您因任何非本公司提供的转账信息而造成的财产等方面的损失，本公司概不承担。</div>
            <div>&nbsp; &nbsp; 在本平台使用支付宝、微信、银行转账的第三方支付方式时，该<strong>第三方可能会收取的相应的手续费用</strong>，由用户自行与第三方确认并承担相应手续费。<strong>知英不收取任何汇款手续费</strong>。</div>
            <div>三、支付服务</div>
            <div>&nbsp; &nbsp;就支付服务涉及的权利义务由您与本公司做如下约定：</div>
            <div>（一）您知晓并同意，您签署本协议即代表您向本平台申请使用支付服务。本公司有权根据风险防范等需要拒绝您的申请。本公司未向您提供支付服务即代表拒绝了您的申请。在此情形下，您与本公司未就支付服务成立合同。</div>
            <div>（二）在您同意使用支付服务时，将依照您已在线签署的《支付协议》及本平台网站上公布的规则，<strong>履行义务并享有权利</strong>。</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div style="text-align: right;"><span style="font-size: larger;"><strong>杭州知英信息技术有限公司</strong></span></div>
            <div style="text-align: right;">&nbsp;&nbsp;</div>
            <div style="text-align: right;">&nbsp;</div>                                        </div>
    </div>
</div>

</body>
</html>
