<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{getUrl('public/css/style.css')}" rel="stylesheet" type="text/css"/>
    <title></title>
    <style>.bankInfo .content ul li div { width: auto;}</style>
</head>
<body>


<div class="container">
    <div style="padding-bottom:20px; background-color: transparent;" class="message-body">
        <div class="row">

            <div class="col-md-9 col-new-pad-r">
                <div style="overflow:hidden; padding:20px;" class="panel panel-wt">

                    <div style="border:0px;" class="instructors create-item x_instructors">
                        <div class="row">

                            <div style="" class="col-md-12">
                                <div style="text-align: justify;"><strong><span style="font-size: x-large;">隐私政策</span></strong></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">为了您能够更好的使用知英平台，杭州知英信息技术有限公司（以下简称知英）兹拟定以下服务条款。使用知英平台前，请仔细阅读下列服务条款：</div>
                                <div style="text-align: justify;"><strong>&nbsp;</strong></div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>1. 隐私条款</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp; "<strong>知英</strong>"&nbsp;是指杭州知英信息技术有限公司和香港知英有限公司，它是知英平台的开发者和所有者。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp; "<strong>用户/知英用户</strong>" 是包括个人、法人、企事业单位、依法建立的社会组织和社会团体在内的知英平台注册用户。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp; "<strong>账户/知英账户</strong>" 是指已经在知英平台注册的用户区别于他人的账户信息。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp; "<strong>知英平台</strong>" 是指知英平台客户端，网址：<a href="http://www.attyrelations.com/">www.attyrelations.cn</a>。</div>
                                <div style="text-align: justify;">&nbsp;&nbsp;</div>
                                <div style="text-align: justify;">&nbsp; "<strong>知英平台网络服务</strong>" 是指由杭州知英通过知英网站或者其他客户端系统向知英用户提供的各种服务。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp; "<strong>知英服务规则</strong>" 是指杭州知英发布的各种规则、解释说明、通知以及知英平台发布的各项规则、论坛、实施细则、指令和声明。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><strong><span style="font-size: larger;">2. 知英平台服务</span></strong></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.1 知英平台为用户提供的服务包括但不限于以下内容：在线下单、在线付款、保存案件信息及文件、热心帮助、信息提示等。知英有权更新、修改所有的服务内容和条款，并有义务通知到每位用户。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.2 知英平台上的部分服务是付费服务。知英平台需将所有的付费项目通知到用户，只有在用户阅读并确认这些付费项目和条件后，付费流程才会进行。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.3 知英平台上的付费服务报价不固定。由于国际汇率变动、国际官费调整等原因，知英有权对平台上的所有报价进行调整。已付款的订单不受价格调整影响。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.4 用户可以在知英平台上递交案件。知英将会在24个工作小时内将案件派发至目标国并更新订单状态。用户可在“订单管理”中查看订单的详细信息。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.5 因登陆到知英平台而产生的网络费用，如电脑上网费用、手机流量费用等，用户需自己办理并支付相关费用。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.6 知英对未来可能暂停服务网站或其他支持设备的行为不负任何法律责任，但是知英会提前告知所有的用户。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.7 用户可以分享、转载本网站上的链接或资源，但是知英对相关内容以及用户因此造成的损失或伤害不负任何责任。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.8 在没有通知用户的情况下，知英有权阻止、删除平台上任何违背知英平台规则的信息，并有权禁止用户再次发送此类内容。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">2.9 杭州知英尊重并保护每一位用户的隐私。详情请参见《<a href="http://users.attyrelations.com/attyrelations/terms-of-service">服务条款</a>》。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>3. 用户职责</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.1 登陆或使用知英平台，说明用户已经同意了知英的服务条款。当您完善所有的个人信息，成功注册后，说明您已经同意了知英服务条款，成为了知英平台的用户。无论何时，如果您不同意或不接受这些条款，请停止注册、登陆和使用知英平台。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.2 知英用户必须是年满18周岁的成人、法人或者社会团体。该协议的有效性不受贵国/地区法律的影响。不满足上述条件者，应立即停止注册过程，停止使用知英的服务。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.3 当用户完善所有的个人信息，成功注册后，说明用户已经同意了知英的服务条款，成为了知英平台的用户。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.4 知英用户有权设置、使用、确认他们的账户名称、邮箱地址、电话号码（以下简称为账户名称）和密码（账户名称和密码合称为账户），并登录知英客户端。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.5 尽管现行法律并不强行要求实名认证，但是出于安全考虑，杭州知英建议您进行实名认证。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.6 在使用知英平台时，用户应按要求提供需要显示在页面的所有个人信息（包括用户姓名、邮箱地址、电话号码、住址等）。用户有责任及时更新他们在知英上的信息。知英有权查验用户的账户信息。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.7 用户自身应保证账户信息安全。知英平台永远不会问取用户的信息。对于因用户自身披露、遭恐吓、被欺诈等原因造成的损失、伤害或其他后果，均由用户自身承担。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">3.8 如果您发现他人未授权使用您的账户（如登录、支付）或其他可能对账户造成损失的情况，请及时联系知英平台，我们将采取一切措施保障您的账户安全。请理解，维护您的账户需要一定的时间。该情况下的所有损失均由用户承担，由知英平台造成的损失除外。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>4. 知识产权</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">4.1 知识产权定义：除了由杭州知英发布的附加声明之外，所有网页内容上的知识产权（包括但不限于版权、商标、专利、商业机密等）均为杭州知英信息技术有限公司所有，内容如下：产品、技术、软件、程序、数据和其他信息（包括但不限于图表、平面设计、网页设计和电子文档）。未经杭州知英许可，任何人不得使用上述内容(包括但不限于复制、分类、披露、拍照、上传和下载)。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">4.2 知英标志，字的标志，设备标志或这些标志的结合，以及其他一些图形标志、产品或服务都属于商标范畴，归杭州知英有限公司及其海内外分公司所有。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>5. 知英平台规则</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">5.1 用户应该对其账户相关的所有行为负责，这些行为包括但不限于：线上同意各种协议、信息发布、信息披露、接收案件等。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">5.2 用户在使用知英平台时，应遵循以下规则：</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">（1）不得违反中国以及国际法律法规；</div>
                                <div style="text-align: justify;">（2）不得违法知英平台相关条款、协议、章程和规则；</div>
                                <div style="text-align: justify;">（3）不得上传、展示或传播任何包含虚假、误导、骚扰、攻击、辱骂、威胁、种族主义、诽谤、隐私、色情、恶意模仿的内容或其他任何非法内容；</div>
                                <div style="text-align: justify;">（4）在任何情况下，不得侵害他人的姓名权、名誉权、肖像权、隐私权和其他个人权益或法律规定的相关权益；</div>
                                <div style="text-align: justify;">（5）在任何情况下，不得侵害他人的专利权、版权、商标权和其他知识产权；</div>
                                <div style="text-align: justify;">（6）不得上传携带木马病毒或代码的可能损害、删除、篡改或影响知英平台正常运作的、企图窃取他人数据和文件的相关文件和数据；</div>
                                <div style="text-align: justify;">（7）不得以任何形式侵害知英平台的相关合法权益；</div>
                                <div style="text-align: justify;">（8）不得利用知英平台的服务进行任何的非法活动。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">5.3 用户必须保证所有在知英平台发布的信息都是经过授权以及合法的。如果原作者出示有效证据或书面说明，知英有权立即删除相关信息。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">5.4 用户应知道、理解并同意授权知英及其相关机构平台使用他们发布在平台上的内容。这些内容包括但不限于：文本、图片等。知英将通过有线网络、无线网络、移动电话、收音机、电视、网络媒体等方式使用用户发布的内容，使用形式包括但不限于：复制、修改、编辑、分类、公布、翻译、宣传、搜索等。但是授权不会改变用户对内容所拥有的主权和相关的知识产权，也不影响用户使用它们发布消息的合法权益。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">5.6 对于任何言行违反法律法规的用户，知英有权要求他们改正；拒绝他们的注册、冻结他们的账户、甚至删除他们的账户。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">5.7 知英有权删除6个月以上（包括6个月）连续不使用的账户。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>6. 赔偿</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">6.1 知英对因平台自身违反任何法律法规或本协议下的规定而造成的损失或伤害负责，并给予赔偿。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">6.2 用户同意保护知英及其他用户的权益。用户应对因自身违反相关法律法规或本协议下的规定而对第三方造成的损失负责。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>7. 通知</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">7.1 本协议下，知英将通知以网络信息、邮件、系统通知、客户服务、私人信息、电话短信或挂号信的方式通知到各用户。通知一经发出，即可认为通知已完成。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">7.2 用户应使用知英网站上公布的官方通讯地址、传真、邮箱或其他联系方式向杭州知英发送通知。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>8. 免责条款</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">在法律允许的最大限度下，知英提供的服务基于现有的、可提供的基础上。知英的免责范围包括但不限于对由于用户泄露、侵袭、欺骗等因素引起的账户损失、伤害及其他后果的保证。因此，类似保证、情况、事件和规则应该免责条款之列。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;"><span style="font-size: larger;"><strong>9. 总则</strong></span></div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">9.1 知英有权根据情况更改本协议内容，并以网络通知的形式将更改通知到所有用户，无需单个通知。若用户在协议更改后仍继续使用知英平台，则被认为已经阅读、理解并接受新版协议。若用户不接受新版协议，应立即停止使用知英平台。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">9.2 本协议是知英与用户之间的基本约束规范，其中的条款并没有完全涵盖所有的权利和义务，也不能满足日后发展需求。知英平台上的网络规则、论坛规则、公告和通知都属于本协议的补充协议，与本协议具有同等法力。如果用户使用知英平台和服务，即可认为已经同意补充协议。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">9.3 本协议下被取消的、无效的或不可实施的条款被认为是与原条款分离的，不影响其他条款的有效性和可执行性。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <div style="text-align: justify;">9.4 本协议的结论、效力、解释、修订、补充、终止、执行和争端解决都应遵从中华人民共和国的法律。</div>
                                <div style="text-align: justify;">&nbsp;</div>
                                <p>&nbsp;</p>                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



</body>
</html>
