<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{getUrl('public/css/style.css')}" rel="stylesheet" type="text/css"/>
    <title></title>
    <style>.bankInfo .content ul li div { width: auto;}</style>
</head>
<body>


<div style="overflow:hidden; padding:20px;" class="col-md-12" >
    <div style="text-align: justify;">&nbsp;&nbsp;<span style="font-size: large;"><strong>Terms of Service</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">This agreement is made between you (user) and Hangzhou IP Relations Co., LTD. (hereinafter referred to as "IPRELATIONS") for using the website of AttyRelations&trade;. PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE USING THIS SITE.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>1. Terms in this agreement</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">“<strong>IPRELATIONS</strong>”means the owner and the website operator, the Hangzhou IPrelations Co., LTD. and IP RELATIONS LIMTED.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">“<strong>User/AttyRelations user</strong>”means you, which includes the individual, the legal person, or other enterprises, institutions, unincorporated organization, social group that set up by law.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">“<strong>Account/AttyPay accoun</strong>t”means the user who has signed up an account at AttyRelations&trade; and gets the unique account info which distinguishes from other users.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">“<strong>AttyRelations platform</strong>”means the user end of the AttyRelatoins&trade; platform, with the domain of&nbsp;<a href="http://www.attyrelations.com/">www.attyrelations.com</a>.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">“<strong>AttyRelations network services</strong>”means all kinds of services that IPRELATIONS provides for the users through website and other user-end system.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">“<strong>AttyRelations rules</strong>”means all the rules, interpretations, notice that published by IPrelation, and also includes all kinds of rules, forum, implementation, instructions, announcement that posted in AttyRelatiosns&trade;’ forum, help center.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>2. AttyRelations&trade; services</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.1 AttyRelations&trade; provides the following services including but not limited to: online ordering, multiple payment method, life-time document conserve, instant notification, etc. AttyRelations&trade; remains the rights to upgrade or modify all the services and keep the users informed.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.2 Some of the services that AttyRelations&trade; provide are paid services. Users will be informed before any billing. Only when the users have read and confirmed the billing, the payment action can be proceeded.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.3 The fees/quotations at Attyrelaions&trade; are not fixed. Attyreplations&trade; reserves the right to change the fee accordingly. The orders, which has been paid before the fee change, will not be influenced.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.4 The orders submitted by users at AttyRelations&trade; will be examined and arranged to the target country within 24 working hours. Users can check the order process and status anytime online.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.5 Users shall pay for the network fee that allows you to connect to AttyRelations&trade; services, such as the network accessing fee for PC, cellphones or other devices.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.6 AttyRelations&trade; may maintain the website hosting or other supported devices which might suspend our website services. AttyRelations&trade; shall not take any legal responsibility for that, but will inform all the users by notifications in advance.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.7 Users can share, repost the links, QR codes or resources from AttyRelations&trade;. But Attyrelations&trade; will not be responsible for all the damages and losses caused by using those contents.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.8 For the information which violates the AttyRelations&trade; rules, AttyRelations&trade; has the right to block, delete or forbid the related users to post those content again, without notifying the users.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">2.9 IPRELATIONS respects and protects the safety of users' privacy. Click to read our&nbsp;<a href="http://www.attyrelations.com/attyrelations/privacy-policy">Privacy Policy</a>.</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong><br type="_moz">
    </strong></span></div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>3. User responsibilities</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.1 By accessing and/or using the Website, you agree to this terms of service. When you have finished the sign up process by providing all the needed personal information, which means you have agreed the terms and became an AttyRelations&trade; user. If at any time you find these Terms of Service unacceptable or if you do not agree to these Terms of Service, please stop the sign up, access or use.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.2 You guarantee that when you signing up, you have reached the age of 18, or you are a legal person or other organization. The validity of this agreement does not influenced by the law of your country or region. Without guaranteeing the said terms, you should immediately abort the signing up process and stop using our service.&nbsp;</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.3 When you have finished the sign up process by providing all the needed personal info, you should have agreed the terms and became an AttyRelations&trade; User.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.4 AttyRelations&trade; users have the right to set, use or confirm the account name, email address, phone number (hereinafter referred as the "account name"), set the password (account name and password are called jointly as the "account") and log in AttyRelations&trade; user-end.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.5 Although real-name authentication is not required by the law in force. IPRELATIONS highly recommend you to provide the real name and information when you are submiting an order online. The user is obligated to update the personal contact informations, if changed.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.6 When using AttyRelations&trade;, user shall provide personal information according to the requirements that displayed on the website pages (including your name and email address, phone number, address, etc.), so that you can be the AttyRelations&trade; or other users. When information has been changed, user has the obligation to update the information promptly. AttyRelations&trade; has the right to examine the account information, and use shall guarantee to cooperate with that.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.7 User shall keep the account information safe. AttyRelations&trade; would not ask for your account info at any time. For the loss and damages or other consequences that brings to the account which caused by the user disclosure, assault, cheating. User shall take the all the consequences by own.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">3.8 If you find any unauthorized using of your account (like login, payment), or other conditions which may damage the account, please contact AttyRelations&trade;, so that we can take any means necessary to secure your account. Please understand that it may take time for us to take actions for securing your account. Other than the fault that made by AttyRelations&trade;, all the said consequences shall be taken by the user.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>4. INTELLECTUAL PROPERTY RIGHTS&nbsp;</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">4.1 Intellectual property declaration: Except for the other separate statement that made by IPRELARIONS, the intellectual property rights (including but not limited to copyright, trademarks, patents, business confidential, etc.) of all the web contents, including products, technology, software, program, data and other information (including but not limited to charts, graphic design, web design, E-documents) belong to Hangzhou IP Relations Co., LTD. Without acquiring the consent of IPRELATIONS, anyone shall not use (including but not limited to copying, distributing, displaying, photographing, uploading, downloading) the said content.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">4.2 The AttyRelations logo, the word mark, device mark or their combinations, and other signs, logos, products or service names are related to the trademarks, and belong to IPRELATIONS and its affiliate companies in China and overseas. Without the written authorization, anybody in any way, cannot use them on purpose or claim having the right to use.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>5. AttyRelations&trade; rules</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">5.1 User shall be responsible for all the behaviors that related to user’s account, including but not limited to all kinds of agreements that agreed online, releasing information, disclosing information, taking case orders, etc.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">5.2 The users shall obey the following rules when using AttyRelations&trade;’services.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">(1) Shall not violate any laws of China or the international treaties of rules.&nbsp;</div>
    <div style="text-align: justify;">(2) Shall not violate the terms, protocols, procedures or rules that related to AttyRelations&trade;.&nbsp;</div>
    <div style="text-align: justify;">(3) Shall not upload, display or spread any information which contains false, misleading, sexual harassment, offensive, abusive, threatening, racist, smear, privacy, adult erotic, malicious copycat or any other illegal contents.</div>
    <div style="text-align: justify;">(4) Shall not, in any way, infringe anyone else's right of name, right of reputation, right of portrait, right of privacy and other personal rights and interests, or any other lawful rights and interests.</div>
    <div style="text-align: justify;">(5) Shall not, in any way infringe any other people’s patent, copyright, trademark right or any other intellectual property rights.</div>
    <div style="text-align: justify;">(6) Shall not upload the files or data that contain virus Trojan codes, which may damage, delete, tamper, or influence the normal operating of AttyRelations&trade;, or extract the users’ data, profile.</div>
    <div style="text-align: justify;">(7) Shall not infringe AttyRelations&trade;’legal rights and interests in any unfavorable behaviors.</div>
    <div style="text-align: justify;">(8) Shall not conduct any illegal activities by using AttyRelations&trade;’ services.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">5.3 Users must guarantee all the published information are legal and had been authorized by its original owner. If the owner provides any effective proofs and written notification, AttyRelations&trade; has the right to delete the information immediately. The user shall take the legal responsibility and compensation for the violation which causes substantial infringement in this article.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">5.4 Users shall know, understand and agree to authorize AttyRelations&trade; to and its affiliates to use the users’ contents non-exclusively, or convertible authorized. The said content including but not limited to text, images, video, etc. In particular, AttyRelations&trade; may use the contents in different ways, including wired or wireless network, mobile phones, radio, television, network media, and may use, copy, revise, edit, distribute, display, translate, promote, research the contents, etc. But the authorization does not change the ownership and intellectual property rights of the user’s content, also does not affend their legitimate rights to publish content.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">5.5 For whom(any user) violates the rules, laws, AttyRelations&trade; has the right to reject their sign-ups, require for amendment, freeze the account, or delete the account in the ultimate condition.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">5.6 AttyRelations&trade; has the right to clear up the account which has not used for more than 6 consecutive months (including 6 months).</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong><br type="_moz">
    </strong></span></div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>6. Compensation</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">6.1 AttyRelations&trade; will be liable for the damages or losses that caused by AttyRelations&trade;'s violation the relevant laws, regulations or any of the terms and conditions under this agreement.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">6.2 User agrees to protect the interests of AttyRelations&trade; and other users. As a result of the user in violation of the relevant laws, regulations or any of the terms and conditions under this agreement, the users shall be liable for the third party’s losses that caused by the said violations.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>7. Notification</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">7.1 Under this agreement, AttyRelations&trade; will send all the notifications to the users by online notification, emails, system alert, customer services, private message, cellphone message, or mail delivery. The notification will be regarded as done delivery, after the notification has been sent.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">7.2 If users need to send any messages or notifications to IPRELATIONS. It shall be sent via the official communication address, fax number, E-mail address and other contact information that AttyRelations&trade; displayed on the website…</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>8. Exclusion cause&nbsp;</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">8.1 TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, AND ATTYRELATIONS&trade; HEREBY EXPRESSLY DISCLAMS ANY AND ALL WARRANTIES, EXPRESS OR LIMITED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF THE LOSSES AND DAMAGES OR OTHER CONSEQUENCES THAT BRINGS TO THE ACCOUNT WHICH CAUSED BY THE USERS’ DISCLOSURE, ASSAULT, CHEATING. ALL SUCH WARRANTIES, REPRSENTATIONS, CONDITIONS, UNDERTAKINGS AND TERMS ARE HEREBY EXCLUDED.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;"><span style="font-size: larger;"><strong>9. General&nbsp;</strong></span></div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">9.1 AttyRelations&trade; has the right to change the contents of this agreement any time when necessary, and will notice all the users by website notification rather than users separately. If the user continues using the AttyRelations&trade; after this agreements has been changed, that shall be regarded as that the said users have fully read, understood and accepted the revised content of the agreement. If the users do not agree with the change of the agreement, they shall stop to use AttyRelations&trade;.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">9.2 This agreement is the basic fundamental constraint specification between IPRELATIONS and users, but the provisions of this agreement doesn’t cover all the rights and obligations and meet the demand of future development. AttyRelations&trade;'s network rules, forum rules, announcements, notifications are the supplementary clauses of this agreement, and has the equal legal effect to this agreement. If the user used the network service, it shall be regarded as the user agrees to the supplementary agreement.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">9.3 For any provision of this agreement that is canceled, invalided or unenforceable, shall be regarded as separation, and does not affect the validity and enforce ability of the remaining provisions of this agreement.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">9.4 The conclusion, effectiveness, interpretation, revision, supplement, termination, implementation and dispute settlement of this agreement should apply to the law of the People's Republic of China.</div>
    <div style="opacity: 0.22; height: 0px; width: 0px; display: none; cursor: auto; position: absolute !important; left: 0px !important; top: 0px !important; border: 0px none !important; padding: 0px !important; z-index: 1000000 !important; background: rgb(0, 0, 0);" id="KSFIND_MASK">&nbsp;</div>                                        </div>

</body>
</html>
